* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

header {
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

h1 {
  font-family: 'Goudy Stout';
}

a {
  color: black;
}

.twenty20s {
  background-color: purple;
}

h2 {
  font-family: 'Goudy Old Style';
}

.imgContainer {
  position: relative;
}

.txtContainer {
  position: absolute;
}

#laptop {
  max-height: 100vh;
  align-items: right;
}

#waitresses {
  max-height: 100vh;
}

#ropeskipping {
  max-height: 100vh;
}

#dj {
  max-height: 100vh;
}